    :root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

.links {
    margin-left:40px;
}
.NavList{
    margin-left:20%;
    font-size:17px;
}
.item  {
    margin-left:16%;       
}
.subscribe{
    margin-top: -67px;
    margin-left: 322px;
}
.social-container {
    background: #eee;
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

    a.social:hover {
        transform: translateY(-2px);
    }

a.youtube {
    color: #eb3223;
}

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: black;
}


.card {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px green;
    padding: 20px;
    margin: 60px;
    text-align: center;
    max-width: 250px;
    height: auto display:inline-block;
}
.card-img {
    max-width: 80%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
    margin-left: 23px;
}
.card h2 {
    font-family:Arial, sans-serif;
    margin:0
}
.card p {
    font-family: Arial, sans-serif;
    color:#353030;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: green;
  }
}
